body {
    text-align: center;
    background: #999;
}

.wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.topbar {
	width: 505px;
	text-align: center;
	margin: 0 auto;
	background: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

.topbar p {
	margin: 0;
}

.music-icon {
	margin-left: 10px;
}

.audio {
	width:0;
	height:0;
}

#music {
	display: none;
}

.banner {
	margin: 0 auto;
}

.img-inline {
	display: inline-block;
	height: 16px;
}

.modal-footer {
	text-align: center;
}

.modal-body button {
	margin-top: 10px;
}

.modal-backdrop {
	z-index: 900 !important;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}